<div class="view">
    <label>{{todo.title}}</label>
    <br>
    <p>{{todo.description}}</p>
    <div class="float-right">
        <!-- <button type="button" (click)= deleteTodo(todo) class="btn btn-danger btn-sm">Delete</button> -->
    <select  [(ngModel)]='todo.status'  (change)='changeThisStatus(todo.status)'>
        
        <option *ngFor='let status of statuses' ><div >{{status}}</div></option>
    </select>  
    <br>
    <!-- <input type="text" ng-model="todo.description" class="todo-input" placeholder=" " [value]='todoTitle'> -->

    <br>
    <button type="button" class="deleteTodo" (click)= "deleteTodo(todo)" class="btn btn-danger btn-sm">Delete</button>
    <!-- <button type="button" class="editTodo" (click)="editTodo(todo)"> Edit</button> -->
    <app-new-edit-todo [updateTodo]="todo">

    </app-new-edit-todo>
    </div>
</div>
